<div class="row text-center">
	<%= image_tag "logo_handbook.png", class: "handbook_logo" %>
	<h2> Chapters </h2>
	<hr>
	<div class="row">
		<div class="col-md-3 text-center h4">
			<%= link_to "Theme 1", handbook_path(1), class: "chapter-button" %>
		</div>
		<div class="col-md-3 text-center h4">
			<%= link_to "Theme 2", handbook_path(2), class: "chapter-button" %>
		</div>
		<div class="col-md-3 text-center h4 handbook-button">
			<%= link_to "Theme 3", handbook_path(3), class: "chapter-button" %>
		</div>
		<div class="col-md-3 text-center h4">
			<%= link_to "Theme 4", handbook_path(4), class: "chapter-button" %>
		</div>
	</div>
</div>