
<div class="row">
	<div class="col-md-7">
		Sort by:
		<button type="button" class="btn btn-link"><%= link_to "Highest rated", continent_path(@continent.id, sort: "HIGH") %></button>
		<button type="button" class="btn btn-link"><%= link_to "Lowest rated", continent_path(@continent.id, sort: "LOW") %></button>
		<button type="button" class="btn btn-link"><%= link_to "Newest", continent_path(@continent.id, sort: "DESC") %></button>
		<button type="button" class="btn btn-link"><%= link_to "Oldest", continent_path(@continent.id, sort: "ASC") %></button>
		<% @stories.each do |story| %>
			<%= render 'story', story: story %>
		<% end %>

		<%= will_paginate @stories, renderer: BootstrapPagination::Rails, :page_links => false %>

		
	</div>
	<div class="col-md-4 col-md-offset-1 text-center">
		<h3 id="continent-name"><%= @continent.name.capitalize %></h3>

		<p id="<%=@continent.name.capitalize%>" class="text-center">
		</p>
		<%= link_to image_tag("knapp1.png", class: 'share-button'), controller: 'stories', action: 'new'  %>

	</div>
</div>


