<div class='row'>
	<div class='col-md-8 text-center text-primary col-md-offset-2'>
		<h1>Create your own story</h1>
	</div>
</div>
<div class='row'>
	<div class='col-md-8 text-center col-md-offset-2'>
		<%= bootstrap_form_for(@story, url: story_create_path) do |f| %>
			<%= f.text_field :title %>
			<%= f.text_area :story %>
			<%= f.select :continent, Continent.continents_collected %>
			<%= f.select :happened_in, Country.countries_collected %>
			<%= f.text_field :author %>
			<%= f.select :author_nationality, Country.countries_collected  %>
			<%= f.email_field :email %>

			<%= f.submit %>
		<% end %>


	</div>
</div>