<div class='row'>
	<div class='col-md-8 text-center col-md-offset-2'>
		<h2>CREATE YOUR STORY</h2>
		<p>
			Tell us your corruption story! Where and how did the situation occur, and what did you learn from it?
		</p>
	</div>
</div>
<div class='row'>
	<div class='col-md-8 text-center col-md-offset-2'>
		<%= bootstrap_form_for(@story, url: story_create_path) do |f| %>
			<%= f.error_summary %>
			<%= f.text_field :title, label: "Title [required]" %>
			<%= f.text_area :story, rows: 5, label: "Story (max 1000 characters) [required]", placeholder: "Have you experienced corruption a little too close for comfort? Share your story.
Even if you think it was just an easy way around a small problem. A small solution that didn't cause any harm, right? Share it, even then." %>
			<%= f.select :continent_id, Continent.continents_collected, :include_blank => '<Select continent>', label: "Continent [required]" %>
			<%= f.select :happened_in_id, Country.countries_collected, :include_blank => '<Select country>', label: "Happened in country [required]" %>
			<%= f.text_field :author %>
			<%= f.select :author_nationality_id, Country.countries_collected, :include_blank => '<Select nationality>'  %>
			<%= f.text_area :solution, rows: 3, label: "Solution (max 1000 characters)", description: "Give something", placeholder: 'What could have been done differently? What measures are necessary to prevent such situations?' %>
			<%= f.email_field :email, label: "Email [Will not be shared]"%>
			<br>
			<br>
			<%= f.submit %>
		<% end %>
		


	</div>
</div>