<div class="row">
  <div class="col-md-8">
    <h1><%= @story.title %> </h1>
    <%= @story.story %>


    <br>


    <%= render "rate" %>


   </div>
   <div class="col-md-4 text-center">
    <h2>
      <%= @story.happened_in.name %>
    </h2>

      <div class="">
        <h4>
          <%= link_to "Read more stories from "+@story.continent.name, controller: "continents", action: "show", id: @story.continent %>
        </h4>
      </div>

   </div>
</div>


<%= render "disqus" %>
