<div class="stories">
  <% if @newly_created %>
    <div class="row">
      <div class="col-md-12">
        <h2>Thank you for your story, it has been submitted for review!</h2>
        <p>It will be reviewed and public available shortly.</p>
        <hr>
      </div>
      <div class="col-md-10 col-md-offset-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" >
        <%= render "continents/wef" %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-8">
      <h1><%= @story.title %> </h1>
        <div class="story-text">
          <p>
            <%= simple_format @story.story  %>
          </p>
          <p>
            <% if !@story.solution.blank? %>
              <h4> My suggested solution </h4>
              <%= simple_format @story.solution %>
            <% end %>
          </p>
        <p>
            <% if !@story.author_nationality.blank? %>
            <h5>Author nationality: <%= @story.author_nationality.name %></h5>
            <% end %>
        </p>
        </div>

        <% if !@has_rated %>
          <%= render "rate" %>
        <% else %>
          <%= render "show_rating" %>
        <% end %>
        <p></p>
        <div style="margin-bottom: 5px">
          <a class="facebook-tag" href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + window.location.href, 'newwindow', 'width=500, height=350'); return false;">
            <i class="fa fa-facebook"></i>
            <span class="fb-counter" id="fb-counter1">0</span>
          </a>
          <a class="twitter-tag" href="#" onclick="window.open('https://twitter.com/home?status=' + window.location.href, 'newwindow', 'width=500, height=350'); return false;">
            <i class="fa fa-twitter"></i>
            <span class="twitter-counter" id="twitter-counter1">0</span>
          </a>
        </div>
     </div>
     <div class="col-md-4 text-center">
      <h2>
        <%= @story.happened_in.name %>
      </h2>
      <div class="text-right">
        <%= link_to image_tag("knapp1.png", class: 'share-button'), controller: 'stories', action: 'new'  %>
      </div>
     </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-8 story-text">
      <h4>
        <%= link_to "Read more stories from "+@story.continent.name,{ controller: "continents", action: "show", id: @story.continent }, class: "frontpage-button" %>
      </h4>
    </div>
  </div>


  <%= render "disqus" %>
</div>
