<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <meta name="description" content="Share your story about a corrupt incident.">
  <meta name="keywords" content="student, corrupt, corruption, campaign, isfit, global infection, the global infection">
  <meta property="og:title" content="Share your story about corruption" >
  <meta property="og:site_name" content="The Global Infection" >
  <meta property="og:description" content="The vision behind this campaign is to raise awareness of corruption, arouse curiosity and challenge young people’s attitude towards the topic. A corrupt act is to abuse the power entrusted in you for your own gain (definition by Transparency International), and it inflicts people in all corners of the world, of all ages. Corruption is not always easy to spot, as it is a complex phenomenon with many grey areas. With this campaign we hope to provide relevant and important information about corruption and shed light on the many different shades of it. " >
  <meta property="og:image" content="<%= image_url("knapp1.png") %>" >
  
  <%= favicon_link_tag 'favicon.ico' %>
  <title>The Global Infection</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
	<div class='container'>
    <div class="col-md-1">
    </div>
	  <div class="col-md-10">
      <div class="container-fluid">
        <div class="row text-center">
          <%= link_to image_tag("header.png", class: "banner"), controller: "continents" %>
        </div>
      </div>
      <hr>
      <%= yield %>
    </div>
    <div class="col-md-1">
    </div>
	</div>
  <div class="footer">
    <div class="container">
      <div class="text-center">
        <p>Do you have any questions?</p> 
        <p>Contact us at <%= mail_to "theglobalinfection[at]isfit.org" %>.</p>
      </div>
    </div>
  </div>

</body>
</html>
